.icons .entertainment.widget .highlights .previous,
.icons .entertainment.widget .highlights .next {
    display: none;
}

/*Widget*/
.entertainment.widget .highlights {
    height:100%;
}
.entertainment.widget .highlight {
    height: 100%;
}

.entertainment.widget .content
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.entertainment.widget .content .name
{
    flex-basis:0;
}
.entertainment.widget .icon
{
    opacity:0;
    display:inline-block;
    vertical-align:bottom;
    margin-right:1em;
    max-width:100%;
}
.entertainment.widget .rating-box
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;   
}
.entertainment.widget .rating
{
    height:33px;
}
.entertainment.widget .star
{
    opacity:0;
    position:absolute;
}
.entertainment.widget .price
{
    opacity:0;
}

/* Detail */
.entertainment .detail
{
    margin-bottom:2em;
}

.entertainment .detail .photo-box
{
    position: relative;
    max-height: 400px;
    overflow: hidden;   
}
.entertainment .detail .photo-box .name
{
    position:absolute;
    width:100%;
    font-size: 2em;
    padding:.5em;
    background-color:#000;
}
.entertainment .detail .info
{
    font-size: 1.5em;
    background-color:#000;
    padding:.5em 1em;
}
.entertainment .detail .info .container
{
    display:flex;
}
.entertainment .detail .info .container .title
{
    flex: 2;
    text-align: right;
    margin-right: .5em;
}
.entertainment .detail .info .container .separator
{
    flex: .7;
}
.entertainment .detail .info .container .data
{
    flex: 14;
}

/* Both */
.entertainment.widget .price,
.entertainment.widget .rating {
    font-size: 2em;
    text-align: center;
}
.entertainment.widget .rating
{
    position:relative;
}
.entertainment.widget .star.filled {
    color: #ffb800;
}

/* Highlights */
.entertainment .highlights {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
}
.entertainment.view .highlights {
    flex-flow: row;
    flex-wrap: no-wrap;
}

.entertainment .highlight {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 150px;
    overflow: hidden;
    padding: 1em;
    position: relative;
    justify-content: space-around;
}
.entertainment .highlight * {
    z-index: 1;
}
.entertainment .highlight .name {
    flex-basis: 100%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.entertainment .highlight .info {
    flex-basis: 50%;
}
.entertainment .highlight .photo {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.entertainment .attributions,
.entertainment .detail .icon,
.entertainment .highlight .address,
.entertainment .highlight .phone,
.entertainment .highlight .website,
.entertainment .photoAttributions,
.entertainment .reference {
    display: none;
}

