
/* Widget */
.widget.weather .icon {
    fill: #000;
    height: 70px;
    width: 70px;
}
.widget.weather .temperature
{
    text-align:center;
}
.widget.weather .temperature .temp {
    font-size: 1.2em;
    text-align:center;
    padding:0;
    color:#000;
}
.widget.weather .temperature .temp:after
{
    color:#0cf;
}
.widget.weather .message {
    font-size: 1.2em;
    text-align:center;
}

.weather.view {
    display: flex;
    flex-direction: column;
}

.weather.view .title-bar
{
    font-size: 2em;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    align-items: center;
}
.weather.view .title-bar>.title 
{
    font-size:1.5em;
}

/* Location */
.weather.view .location {
    font-size: 1.5em;
    text-align: center;
}
.weather .location .city {
    display: inline;
    font-size: 2em;
    font-weight: bold;
    margin-right: 0.5em;
}
.weather .location .city:after {
    content: ",";
    font-weight: normal;
}
.weather .location .state {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
}
.weather .location .country {
    margin-bottom: 2em;
}

/* Forecast */
.weather .forecast
{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
}
.weather .forecast .day {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    display:flex;
    align-items: center;
    margin:1em;
    width:47%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.weather .forecast .day.active {
    -webkit-transform: scale(1.1);
}

/* Day */
.weather .conditions
{
    margin-right:2em;
    text-align:center;
}
.weather .conditions .icon
{
    fill: #fff;
    height: 75px;
    width: 75px;
}
.weather .date {
    font-size: 1.25em;
    font-weight: bold;
}
.weather .temperature .temp {
    font-size: 3em;
}
.weather .temperature .temp:after {
    content: " °F";
}
.weather .temperature .variance div
{
    font-size: 2em;
    display:inline-block;
    vertical-align: middle;
}
.weather .temperature .min:after {
    content: "°F";
}
.weather .temperature .spacer {
    margin: 0 .5em;
}
.weather .temperature .max:after {
    content: "°F";
}
.weather .message {
    font-size: 1.5em;
}
.weather .humidity:before {
    content: "Humidity ";
}
.weather .humidity:after {
    content: "%";
}
.weather .icon.code-01d {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.weather .icon.code-01n {
    -webkit-animation-name: rock;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.weather .icon.code-02d,
.weather .icon.code-02n,
.weather .icon.code-50d,
.weather .icon.code-50n {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.weather .icon.code-03d,
.weather .icon.code-03n,
.weather .icon.code-04d,
.weather .icon.code-04n,
.weather .icon.code-09d,
.weather .icon.code-09n,
.weather .icon.code-10d,
.weather .icon.code-10n,
.weather .icon.code-11d,
.weather .icon.code-11n,
.weather .icon.code-13d,
.weather .icon.code-13d {
    -webkit-animation-name: strafe;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg); 
    }
    to { 
        -webkit-transform: rotate(360deg); 
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(5px);
    }
    100% {
        -webkit-transform: translateY(0px);            
    }
}
@-webkit-keyframes strafe {
    0% {
        -webkit-transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(5px);
    }
    100% {
        -webkit-transform: translateX(0px);            
    }
}
@-webkit-keyframes rock {
    0% {
        -webkit-transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0px);            
    }
}