.timezone.widget .clock-face {
    margin-bottom:1em;
}
.timezone.widget .second
{
    display:none;
}
.timezone.widget .time
{
    text-align:center;
}
.timezone.widget .separator:nth-child(4)
{
    display:none;
}

.timezone.view .title-bar
{
    font-size: 2em;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    align-items: center;
}
.timezone.view .title-bar>.title 
{
    font-size:1.5em;
}

.timezone.view {
    display: flex;
    flex-direction: column;
}
.timezone.view .zones .clock {
    padding: 1em;
    width: 47%;
    display: inline-flex;
    align-items: center;
    margin: 1em;
    border: solid 1px #000;
}

.timezone .clock .text 
{
    font-size: 1.3em;
    border-left: solid 3px #000;
    padding-left: 1em;
}
.timezone .clock .text .time {
    font-size: 2em;
}


/* Widget Clock */
.widget.timezone .clock-face {
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    width: 70px;
    vertical-align: middle;
}

.widget.timezone .clock-face .hour-mark {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.widget.timezone .clock-face .hour-mark:after {
    background: #000;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    top: -31.5px;
    width: 1.4px;
}

.widget.timezone .clock-face .min-mark {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}
.widget.timezone .clock-face .min-mark:after {
    content: none;
}

.widget.timezone .clock-face .arrow-hour {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.widget.timezone .clock-face .arrow-hour:after {
    background-image:none;
    background-color:#000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    content: '';
    height: 31.5px;
    left: -1.05px;
    position: absolute;
    top: -24.5px;
    width: 2px;
}

.widget.timezone .clock-face .arrow-minute {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.widget.timezone .clock-face .arrow-minute:after {
    background-image:none;
    background-color:#000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    content: '';
    height: 38.5px;
    left: -1.05px;
    position: absolute;
    top: -31.5px;
    width: 2px;
}

.widget.timezone .clock-face .arrow-second {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.widget.timezone .clock-face .arrow-second:after {
    background-image:none;
    background-color:#0CF;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    content: '';
    height: 38.5px;
    left: -1px;
    position: absolute;
    top: -31.5px;
    width: 2px;
}

.widget.timezone .clock-face .arrow-dot {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.widget.timezone .clock-face .arrow-dot:before {
    background: #0CF;
    border-radius: 10px;
    content: '';
    height: 3.5px;
    left: -1.75px;
    position: absolute;
    top: -1.75px;
    width: 3.5px;
}

.widget.timezone .clock-face .arrow-dot:after {
    background: #fff;
    border-radius: 4px;
    content: ''; 
    height: 1px;
    left: -.5px;
    position: absolute;
    top: -.5px;  
    width: 1px;
}

/*View Clock*/
.view.timezone .clock-face {
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    margin-right:2em;
}

.view.timezone .clock-face .hour-mark {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.view.timezone .clock-face .hour-mark:after {
    background: #000;
    content: '';
    height: 3px;
    left: -2px;
    position: absolute;
    top: -31.5px;
    width: 1.4px;
}

.view.timezone .clock-face .min-mark {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}
.view.timezone .clock-face .min-mark:after {
    content: none;
}

.view.timezone .clock-face .arrow-hour {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.view.timezone .clock-face .arrow-hour:after {
    background-image:none;
    background-color:#000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    content: '';
    height: 31.5px;
    left: -1.05px;
    position: absolute;
    top: -24.5px;
    width: 2px;
}

.view.timezone .clock-face .arrow-minute {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.view.timezone .clock-face .arrow-minute:after {
    background-image:none;
    background-color:#000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    content: '';
    height: 38.5px;
    left: -1.05px;
    position: absolute;
    top: -31.5px;
    width: 2px;
}

.view.timezone .clock-face .arrow-second {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.view.timezone .clock-face .arrow-second:after {
    background-image:none;
    background-color:#0CF;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    content: '';
    height: 38.5px;
    left: -1px;
    position: absolute;
    top: -31.5px;
    width: 2px;
}

.view.timezone .clock-face .arrow-dot {
    height: 0px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 0px;
}

.view.timezone .clock-face .arrow-dot:before {
    background: #0CF;
    border-radius: 10px;
    content: '';
    height: 3.5px;
    left: -1.75px;
    position: absolute;
    top: -1.75px;
    width: 3.5px;
}

.view.timezone .clock-face .arrow-dot:after {
    background: #000;
    border-radius: 4px;
    content: ''; 
    height: 1px;
    left: -.5px;
    position: absolute;
    top: -.5px;  
    width: 1px;
}