.icons .food.widget .highlights .previous,
.icons .food.widget .highlights .next {
    display: none;
}

/* Detail */
.food .detail {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
    width: 100%;
}
.food .detail .name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2em;
}
.food .detail .rating-box {
    right: 3em;
    position: absolute;
    top: 3em;
}
.food .detail .info {
    font-size: 1.5em;
}
.food .detail .photo {
    width: 100%;
}
/* Both */
.food .price,
.food .rating {
    font-size: 2em;
    text-align: center;
}
.food .star.filled {
    color: #ffb800;
}
/* Highlights */
.food .highlights {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
}
.food.view .highlights {
    flex-flow: row;
    flex-wrap: no-wrap;
}

.food .highlight {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 150px;
    overflow: hidden;
    padding: 1em;
    position: relative;
    justify-content: space-around;
}
.food .highlight * {
    z-index: 1;
}
.food .highlight .name {
    flex-basis: 100%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.food .highlight .info {
    flex-basis: 50%;
}
.food .highlight .photo {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.food .attributions,
.food .detail .icon,
.food .highlight .address,
.food .highlight .phone,
.food .highlight .website,
.food .photoAttributions,
.food .reference {
    display: none;
}